.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
    position: relative;
}

.black {
    background-color: deepskyblue;
}

.white {
    background-color: #eed4ac;
}
.true {
    background-color: brown;
}

.false {

}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}