.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    position: relative;
}

.black {
    background-color: deepskyblue;
}

.white {
    background-color: #eed4ac;
}
.true {
    background-color: brown;
}

.pawn {
    width: 34px;
    height: 34px;
}

.rook, .knight, .bishop {
    width: 40px;
    height: 40px;
}

.king, .queen {
    width: 48px;
    height: 48px;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #22c022;
}